{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">List of categories </div>
                        {% if app.user != null %}
                            <table class="table">
                                <tr>
                                    <th>Categories</th>
                                    <th>Actions</th>
                                </tr>
                                {% for ctg in categories %}
                                    <tr>
                                        <td>{{ ctg.title }}</td>
                                        <td>
                                            <a href="/categories/delete/{{ ctg.id }}" class="btn btn-danger m-2">Delete</a>
                                            <a href="/categories/edit/{{ ctg.id }}" class="btn btn-primary m-2">Update</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
                {% if app.user == null %}
                    <a href="{{ path('app_login') }}" class="btn btn-info"> You need to login to see categories >></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
